.section__breadcrumb {
    margin-top: 25px;


}

.bread-crumb {
    padding: 10px 0;

    ul {
      display: flex;

      li {
          font-style: italic;
          a {
			font-family: $f-secondary;
			font-size: 16px;
			color: #808080;


              &:hover {
                  color: #e75300;
              }
          }
          &::after {
			  content: '|';
			  padding: 0 10px;
              display: inline-block;
          }

          &:last-child {
              &::after {
                  display: none;
              }
          }

          &.last {
              a {
                  font-weight: 700;
              }
          }
      }
    }
  }
