.btn {
    &--primary {
        @extend %btn--primary;

        &-inverse {
            @extend %btn--primary-inverse;
        }
    }

}

%btn {
    &--primary {
        color: $c-white;
        background-color: $c-primary;

        &:hover {
            background-color: darken($c-primary, 10%);
        }

        &-inverse {
            color: $c-primary;
            background-color: $c-white;

            &:hover {
                background-color: darken($c-white, 10%);
            }
        }
    }  

}



