.catalog {
    .searchResultsTime, .sub, .pages, .pager {
        display: none;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .aside__filter {
        width: 260px;
        margin-right: 30px;
    }

    &__content {
        width: 910px;
    }
}    