.catalog {
    .searchResultsTime, .sub, .pages, .pager {
        display: none;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .aside__filter {
        width: 260px;
        margin-right: 30px;
        margin-top: 30px;
    }

    &__content {
        width: 910px;
    }

    .orderBy {
        .select {
            &::after {
                border-color: $c-red;
                z-index: 1;
            }

            select {
                border: none;
                font-style: italic;
                font-weight: 700;
                font-family: $f-secondary;
                font-size: 14px;
            }
        }
    }

    &__top {
        display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.shelf {
		ul {


			@media (min-width: 320px) and (max-width: 475px) {
				width: 100vw;
				padding: 0 2px;
			}
		}
	}

	.bread-crumb {
		@media (min-width: 320px) and (max-width: 475px) {
			display: none;
		}
	}

	&__content {
		@media (min-width: 1024px) and (max-width: 1200px) {
			width: calc(100vw - 300px);
		}
	}
}
