.default__form {

    &__input {
        height: 43px;
        border: none;
        padding: 10px;
        vertical-align: top;
        display: inline-block;
        width: 85%;
        margin-bottom: 10px;
        @include atMedium{
            width: auto;
            margin-bottom: 0;
        }
    }

    .btn {
        width: 195px;
        height: 43px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        font-style: italic;
        font-family: eurostileregular;
        background-color: #222;
        text-transform: uppercase;
    }
}