.default__form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	@include atMedium {
		flex-direction: row;
	}
    &__input {
        height: 43px;
        border: none;
        padding: 10px;
        vertical-align: top;
        display: inline-block;
        width: 85%;
        margin-bottom: 10px;
        @include atMedium{
            width: auto;
            margin-bottom: 0;
        }
    }

    .btn {
        width: 195px;
        height: 43px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        font-style: italic;
        font-family: $f-base;
        background-color: #222;
		text-transform: uppercase;
		margin: 0 auto;
		@include atMedium {
			margin: 0;
		}
	}


}

.form--success {
	margin-left: 100px;
    padding: 30px 50px;
	color: #fff;

	strong {
		color: #fff;
	}
	display: none;

}
