.minicart {
  height: 100%;
  &__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
    .active & {
      display: block;
        @include atLarger {
            display: none;
        }
    }
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $c-white;
    width: 90vw;
    z-index: 60;
    display: none;
    flex-direction: column;
    .active & {
      display: flex;
    }

    @include atLarger {
        width: 292px;
        top: 100x;
        max-height: 439px;
        position: absolute;
    }
  }

  &__header {
    width: 100%;
  }

  &__handle {
    height: 100%;
    border: none;
    box-shadow: 0;
    background-color: transparent;

    .minicart__header & {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: $c-white;

      svg {
        width: 10px;
      }
      path {
        fill: $c-white;
      }
    }
    &--diff {
      @include atMedium {
        padding: 0 20px;
        transform: skew(-15deg);
        svg {
          transform: skew(15deg);
        }
        &:hover {
          background: $c-white;
          svg {
            use {
              fill: $c-red;
            }
          }
        }
      }
    }
  }

  &__footer {
    margin-top: auto;

    padding: 20px 15px;
    display: flex;
    align-items: center;
    background-color: $c-red;
  }

  &__products {
      padding: 0 10px;
  }

  &__title {
    color: $c-black;
    text-transform: uppercase;
    @include font-size(14px);
    font-weight: 700;
    width: 100%;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before, &:after {
        content: "";
        width: 10%;
        height: 2px;
        display: -ms-inline-flexbox;
        display: inline-flex;
        background-color: #ff0000;
        margin: 0 10px;
    }
  }

  &__checkout {
    display: block;
    width: 135px;
    height: 37px;
    text-transform: uppercase;
    color: $c-white;
    background-color: $c-black;
    text-align: center;
    line-height: 37px;
    font-weight: 700;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.35px;

  }

  &__totals {
    text-transform: uppercase;
    color: $c-white;
    text-align: center;
    margin-right: 10px;
    
    &-text {
      margin-right: 5px;
      font-size: 12px;
    }
    &-value {
      color: $c-white;
      font-size: 12px;
    }

    & > div {
        text-align: left;
    }
  }

  &-product {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dcdcdc;
    align-items: center;

    &__image {
      width: 110px;
      height: 110px;
      overflow: hidden;
    }

    &__info {
      padding: 5px;
      max-width: 168px;
    }

    &__name {
      @include font-size(12px);
      font-weight: 300;
      color: #a3a3a3;
      letter-spacing: 0.9px;
      font-family: $f-secondary;
      
    }

    &__remove {
      background-color: transparent;
      border: none;
    }

    &__quantity {
        width: 100%;
        padding: 8px 0;
        input {
            width: 29px;
            height: 27px;
            border: 1px solid #7d7d7d;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            font-family: $f-secondary;
            color: #a3a3a3;
            margin: 0 10px;
        }
        button {
            border: none;
        }
        
    }

    &__price {
        font-style: italic;
        font-size: 20px;
    }
  }

  &__count {
    display: flex;
    margin-top: 5px;
    align-items: center;

    .icon-cart {
      font-size: 30px;
    }

    &-value {
      width: 30px;
      padding: 5px;
      color: #000;
      font-size: 18px;
      position: relative;
    }
  }
  &__content {
    height: 100%;
    overflow-y: scroll;
  }
}
