.header {
  &__search-form {
    display: flex;
    align-items: center;
    background: #f22100;
    transform: skew(-25deg);
    flex-basis: 24%;
    justify-content: center;
    position: relative;
    flex: 1;
    &::before {
      content: "";
      width: 20px;
      height: 100%;
      position: absolute;
      left: -2px;
      background: #F11E08;
    }

    .input,
    .textarea {
      border: 0;
      border-radius: 0;
    }
    .control {
      display: flex;
      align-items: center;
      flex-basis: 80%;
    }
    .icon-search {
      padding: 0 7px;
      font-size: 22px;
      position: relative;
      left: -35px;
      color: #c5c6c8;
      font-weight: bold;
      z-index: 8;
    }
  }
  .field:not(:last-child) {
    margin: 0;
  }
  .field {
    transform: skew(25deg);
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .search-form {
      flex: 1;
      display: flex;
  }
}
