

%title {

}

%section-title {
    color: $c-black;
}

%title {
	&--section {
		width: 100%;
		color: #000;
		font-size: 33px;
		font-weight: 700;
		font-style: italic;
		text-align: center;
		font-family: "Eurostile",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		letter-spacing: 0.82px;
		text-transform: uppercase;
		display: flex;
    	align-items: center;
    	justify-content: center;

		&:after, &:before {
			content: "";
			width: 40px;
			height: 2px;
			margin: 0 35px;
			display: inline-block;
			vertical-align: middle;
			background-color: #ff0000;
		}

		@media (min-width: 320px) and (max-width: 1024px) {

			&:before, &:after {
				display: none;
			}

			font-size: 20px;

		}
	}
}
