extends ../layouts/default.pug

block vars
	- var pageTitle = 'About'
	- var bodyClass = 'about'

block head

block content
	section.about__banner-hero
		img(src="/arquivos/aboutTopHero.png", alt="midwayhero")/
	section.about__midway
		a.about__links(href="/")
			span.pad Sobre A Midway Labs
		a.about__links(href="#science")
			span.pad Ciência

	section.about__grid
		.about__midway-date
			.about__midway-year
				| Desde
				br/
				span 1991

		.about__midway-labs
			h3.about__midway-title A midway labs
			.about__midway-text
				p A Midway Labs chegou ao mercado em 1991, fundada pelo visionário <strong>Wilton Colle</strong> com o propósito de aliar tecnologia e ciência na indústria de nossa missão foi sempre proporcionar a construção da melhor versão de si mesmo de forma eficiente e com alta qualidade.
	section.about__grid.about__grid--one
		.about__midway-gmp
			.about__midway-gmp-text
				p Todos os produtos da <strong>Midway Labs</strong> são fabricados nos Estados Unidos em instalações <strong>GMP (Boas Práticas de Fabricação)</strong> e registrados pela FDA, sob a supervisão de uma equipe de cientistas profissionais, médicos e nutricionistas, que tornaram-a uma das maiores marcas de suplementos tecnológicos dietéticos do mundo
	section.about__lines
		h2.about__title-line Linhas Midway Labs
		.about__grid.about__grid--build-yourself
			.about__lines-image
				.about__lines-image-content
					img(src="/arquivos/about-midway.png", alt="")
			.about__lines-content
				h3.about__lines-title Build Yourself
				.about__lines-text
					p Uma nova geração de suplementos alimentares premium produzidos nos Estados Unidos com as melhores matérias-primas do mercado internacional, resultando uma linha de produtos inovadores e de alta tecnologia para auxiliar você a alcançar a melhor versão de você mesmo.
		.about__grid.about__grid--inverse.about__grid--military-trail
			.about__lines-content
				h3.about__lines-title Military trail
				.about__lines-text
					p Uma linha com suplementos para quem busca estar em sua melhor forma e preparado para todos os desafios do dia a dia. Inspirada nos heróis da vida real, traz a concentração máxima dos melhores ingredientes para potencializar o seu treino e multiplicar a sua força.
			.about__lines-image
				.about__lines-image-content
					img(src="/arquivos/about-military.png", alt="")
		.about__grid.about__grid--glamour-nutrition
			.about__lines-image
				.about__lines-image-content
					img(src="/arquivos/about-glamour.png", alt="")
			.about__lines-content
				h3.about__lines-title Glamour nutrition
				.about__lines-text
					p Criada para proporcionar beleza, amor e confiança de dentro para fora, essa linha é voltada às mulheres que acreditam que um visual radiante é reflexo de sua beleza natural. São produtos produzidos a partir dos melhores ingredientes e da mais alta tecnologia para oferecer todo o cuidado que o seu corpo merece.
		.about__grid.about__grid--inverse.about__grid--diet-way
			.about__lines-content
				h3.about__lines-title Diet way
				.about__lines-text
					p Há mais de 20 anos trazendo muito mais sabor e nutrientes para a sua dieta, Diet Way já tornou-se sinônimo de confiança e qualidade. São shakes e sopas redutores de peso que substituem até duas refeições por dia e já são recordistas em vendas no Brasil.
			.about__lines-image
				.about__lines-image-content
					img(src="/arquivos/about-diet.png", alt="")


	section.about__science.bg-static
		h2.about__title-line#science Ciência
		p.about__generic-txt.about__generic-txt--center
			| Nossa equipe de consultores inclui vários cientistas, químicos, médicos e nutricionistas altamente talentosos e dedicados, todos dispostos a ajudar a Midway Labs USA a criar os melhores produtos possíveis.
			br/
			| Cada especialista em nosso conselho está envolvido em todas as etapas do ciclo de produção, desde o desenvolvimento até a fabricação e teste. O conselho realiza uma extensa pesquisa para garantir que nossos produtos não apenas atinjam as afirmações feitas sobre cada mercadoria, mas também que os mesmos sejam seguros e feitos com a mais alta qualidade dos ingredientes disponíveis.
		h2.about__title-line.about__title-line--smaller Conselho Científico Midway
		.about__each-doctor
			.red-line
			.about__doctor-container
				.about__one-doctor
					img(src="/arquivos/ndr1.png", alt="")/
					.about__dr-name Dr. Turíbio
						.about__dr-name.about__dr-name--red Barros
					ul.about__expert
						li.about__items
							span Doutorado e Especialização em Fisiologia do Exercício
						li.about__items
							span Membro do Colégio Americano de Medicina Esportiva
						li.about__items
							span Ex-médico esportivo do São Paulo Soccer Club
				.about__one-doctor
					img(src="/arquivos/ndr2.png", alt="")/
					.about__dr-name Dr. Gerseli
						.about__dr-name.about__dr-name--red Angeli
					ul.about__expert
						li.about__items
							span Doutorado em Medicina Esportiva e Reabilitação
						li.about__items
							span Especialização em fisioterapia
						li.about__items
							span Membro do Colégio Americano de Medicina Esportiva
				.about__one-doctor
					img(src="/arquivos/ndr3.png", alt="")/
					.about__dr-name Dr. Dirceu
						.about__dr-name.about__dr-name--red Raposo
					ul.about__expert
						li.about__items
							span Doutor em Análises Clínicas
						li.about__items
							span Especialização em Ciências da Saúde
						li.about__items
							span Membro da Academia Nacional de Farmácia
						li.about__items
							span Ex-presidente da Anvisa
						li.about__items
							span Ex-presidente do CRF-SP
				.about__one-doctor
					img(src="/arquivos/ndr4.png", alt="")/
					.about__dr-name Dr. Karen
						.about__dr-name.about__dr-name--red Lima
					ul.about__expert
						li.about__items
							span Nutricionista Midway
						li.about__items
							span MBA em Nutrição Esportiva Clínica
						li.about__items
							span Especialização em Controle de Qualidade e Desenvolvimento de Produto



