extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'ajuda catalog empty-search'

block content
	.container
		section.empty-search__top
			h2.empty-search__top__title Ops, produto não encontrado! =(
			span.empty-search__top__smallmsg Mas você pode continuar pesquisando outros produtos.
		section.empty-search__top__container
			h2.ajuda__content__title Produtos Sugeridos
			.shelf.shelf__carousel--full
				+vtex-controller('<vtex:contentPlaceHolder id="Shelf Empty" />')
				.prateleira
					ul
						each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
							li
								include ../shelves/prateleira