extends ../layouts/default.pug

block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home '

block content
	section.section__page.section__hero
		.banner.banner--top
			.banner__inner
				+vtex-controller('<vtex:contentPlaceHolder id="Banners Top" />')
					.box-banner
						a(href="")
							img(src="/arquivos/banner_top_01.jpg")/
					.box-banner
						a(href="")
							img(src="/arquivos/banner_top_02.jpg")/
					.box-banner
						a(href="")
							img(src="/arquivos/banner_top_03.jpg")/
	section.section__page.section__hero.section__hero--mobile
		.banner.banner--top
			.banner__inner
				+vtex-controller('<vtex:contentPlaceHolder id="Banners Top Mobile" />')
					.box-banner
						a(href="")
							img(src="/arquivos/banner_top_01_mobile.jpg")/
					.box-banner
						a(href="")
							img(src="/arquivos/banner_top_02_mobile.jpg")/
					.box-banner
						a(href="")
							img(src="/arquivos/banner_top_03_mobile.jpg")/
	section.section__page.section__why
		.container
			h2.section__page__title Meu Objetivo
			.banner.banner--after
				.banner__inner
					+vtex-controller('<vtex:contentPlaceHolder id="Banners After" />')
						.box-banner
							a(href="")
								img(src="/arquivos/banner-obj-1.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner-obj-2.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner-obj-3.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner-obj-4.jpg")/

		section.section__page.section__shelf
			.container
				h2.section__page__title Destaques
				.shelf.shelf__carousel--full
					+vtex-controller('<vtex:contentPlaceHolder id="Destaques" />')
						.prateleira
							ul
								each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
									li
										include ../shelves/prateleira

		section.section__page.section__more-banners
			section.section__newsletter
				.section-newsletter--color-gray
				.container.is-flex
					.columns
						.column.is-5
							h3.section__newsletter__tlt Siga o Plano
							span.section__newsletter__smallph
								p GANHE <b>DESCONTOS EXCLUSIVOS</b> E SEJA O PRIMEIRO A RECEBER NOSSAS NOVIDADES!
						.column.is-7
							form.default__form
								input.default__form__input#newsName(type="text", name="name",placeholder="Digite seu nome")/
								input.default__form__input#newsEmail(type="text", name="email",placeholder="Digite seu email")/
								button.btn.submit Inscreva-se
							.form--success
								p E-mail <strong>cadastrado com sucesso</strong>. Agora fique por dentro de todas as nossas novidades.
				.section-newsletter--color-red
			.banner.banner--middle
				.banner__inner
					+vtex-controller('<vtex:contentPlaceHolder id="Banners Middle" />')
						.box-banner
							a(href="")
								img(src="/arquivos/middle-banner-one.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/middle-banner-two.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/middle-banner-three.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner_linhas_glamour.jpg")/
			.banner.banner--middle.banner--mobile
				.banner__inner
					+vtex-controller('<vtex:contentPlaceHolder id="Banners Middle Mobile" />')
						.box-banner
							a(href="")
								img(src="/arquivos/banner_home_linhas_buildyourself_mobile.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner_home_linhas_military_mobile.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner_home_linhas_dietway_mobile.jpg")/
						.box-banner
							a(href="")
								img(src="/arquivos/banner_home_linhas_glamour.jpg")/

		section.section__page.section__shelf
			.container
				h2.section__page__title Mais Vendidos
				.shelf.shelf__carousel--full
					+vtex-controller('<vtex:contentPlaceHolder id="Mais Vendidos" />')
						.prateleira
							ul
								each val in [1, 2, 3]
									li
										include ../shelves/prateleira
									li.helperComplement

		section.section__page.section__bigbanner
			.banner.banner--team
				.banner__inner
					+vtex-controller('<vtex:contentPlaceHolder id="Team Banner" />')
						.box-banner
							a(href="/team-midway.html")
								img(src="/arquivos/big-banner-team-midway.jpg")/
			.banner.banner--team-mobile
				.banner__inner
					+vtex-controller('<vtex:contentPlaceHolder id="Team Banner mob" />')
						.box-banner
							a(href="/team-midway.html")
								img(src="/arquivos/teammobile.png")/

		section.section__page.section__shelf
			.container
				h2.section__page__title Kits/Combos
				.shelf.shelf__carousel--full
					+vtex-controller('<vtex:contentPlaceHolder id="Exemplo" />')
						.prateleira
							ul
								each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
									li
										include ../shelves/prateleira
