extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'ajuda catalog persona'

block content
	section.persona__top.columns
		.container.is-flex
			.persona__top__fig.column.is-5
				img(src="", alt="")/
			.footer.persona__top__info.column.is-7
				h3.persona__top__info__name <span> <b></b></span>
				span.persona__top__info__speccialist 
				article.persona__top__info__content 
				a.persona__top__info__link Saiba Mais
				ul.footer__main__menu__list--social__list
					//- li.footer__main__menu__list--social__list__item.facebook
					//- 	a.footer__main__menu__list--social__list__item__link <svg class="footer__main__menu__list--social__list__item__ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="22" viewBox="0 0 14 22"><g><g transform="translate(-1405 -5140)"><image width="14" height="22" transform="translate(1405 5140)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAWCAYAAADwza0nAAABoElEQVQ4T6WUTShEURTHZ2JhNhQpJDZ2NhZKWUhKYjMLIYQoYsiKWfjasCGifEVC+QwrG5KyUsqCla0kokRSysfC79S5r+d6M5SpX+e+c87/njP33Pf8vsi/TEKdUAMprrRH1iF/BJ0kr7lil6w/IQkSYdlLmEvgVEVN2FX40Oc87AmMewmvCGRACRxYHYlv30uYg/MMDqFYRSPYBm0zRn1LdsU2AjNQDytQCEea/Ip9h3sI28JGnItQCdvQDPPQrhs6ndtCk1hHhhxKrVpPYRHBaUiFBN3SJLbyPKs+afNZGZCKk9ChwSfsHcgczyEbNiAdAhCneRMiHIJebWvd+RPeiy3cFZAvwkHogyDs/iJ80coBEU6B/Cdx3sIDtMAFZMECyF2NBzkH2TwowlINprmqhVjLocgGcy6/zLAcjs04YrUFuSFyWOYCmHH0aGdvWDldnz1Hk2jmaN4S04FT3Baa1mxhF4oxV8s/Kv5bKC3K4KtgE/5csYzkPTDvXzfr0WithgkOww1cg1w1QW5XfzRhAcEdSHYlycepGr59Db4A1WpfOxCZcnEAAAAASUVORK5CYII="/></g></g></svg><span>@fefrancooficial</span>
					//- li.footer__main__menu__list--social__list__item.instagram
					//- 	a.footer__main__menu__list--social__list__item__link <svg class="footer__main__menu__list--social__list__item__ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" viewBox="0 0 22 22"><g><g transform="translate(-1432 -5140)"><image width="22" height="22" transform="translate(1432 5140)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAACAElEQVRIS7WVTUhWURCGVUjUNNFAyggxFTK1VSjZKihyZeKmECx0Ua7En6iV1D5CwkUFGRhBttFFgSJFC3XRwoXkD2KKKBqCiqBCqKjPK3Pg8/L9dBAvPMyZc2bee+/cM+fGxx29HuI+huuB+VjuCAHv4a0LjLfBGewAlJm/jN0Atx5JeJ+F03DeAsawFbDoEkdxrkIPPIWZWI8YWL+I/wLqYQFyJHwPuuErVHoKBsO7mHgAzRLW4xdBGmx6CqcTXw2D8Mdy97ArEladVNNznqIKVz374BU8sfzf2GInPIVzOYKwPmiTlekU9ge8hn5IgrvwC+Ysfwh7wwnrY+WHEW5g7o3Na5dsw1nzQ58yNFU3KY0mrBtNW4bq2GtjvcF3SIU7oG3qJfyR6Fq4D18CyVfwx41iX+E1EjIgUpNMsFYIyfAvRDxmKU5MOFop9PraVpOgsnjV+BLRrrVrGH+27JvYb5ACt0Ef0ktYwY/gnWWpK7XdMs1vx7YEROUeqXG0BrlGsBqkClyDdDBWx4W7hpksd/v4L052hEDf6cOTUsI6PPIgEXZ8VcLE7zK3KeE6+ACfQA1xnEtnSCO0uc0/i5MLnfAMVj3VdeQ+h1ZYhywnfAHnJxSYoNp16z/EdeRq25VY7BL2FkyGtmsCE9o++pmGO+mi3WeeRf1MX8Jhex8AYnt51xDc76wAAAAASUVORK5CYII="/></g></g></svg><span>@fefrancooficial</span>
					//- li.footer__main__menu__list--social__list__item.youtube
					//- 	a.footer__main__menu__list--social__list__item__link <svg class="footer__main__menu__list--social__list__item__ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="19" viewBox="0 0 25 19"><g><g transform="translate(-1494 -5141)"><image width="25" height="19" transform="translate(1494 5141)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAATCAYAAABlcqYFAAABtElEQVRIS62VSyhFURSG3aJMUGbKHYjkkWsgpYwkEkoMKBNFXhkoyUBJSRkoGZIyZqaYkBgaMPAuE3mTIYZe33/bO8eJc/eRXV/77LP+tf5z992PSNJXy+SxBfIgBd49MdfHCMI3uIQVuFOiXqqp+JIp7lrQRdeDaEEmZbBnMiboj+HDV8GO7UclMtBsTBlRvZJ2oALqYD1Rdoh4DO2Bpk4m+soXSAso0EGsFkbgNoTRFdqoNVFidkDyJrFqE++iX3Q02kdXak0eGGQFJGpRtHniMu2GiwRmJ8SLXE1WETdCJQxDsyneRz8fYPQnE+2fV+iHGUiFbTM++8HsTyZaMUemWC69lruMTqH4v0zSKfRspmuaXkYy7QVtBX8L9UvWyG6AAhg006OC46AN/FsLZbJMlVZPJU1TJ+wGGCj0zeSGF9GAhA1iNSY+Sm+PjAQe8R0fs0v4iUFGQIamqAmGQBvMtZ0jzJHJIZRAOdiD0rVIkE4nyDU8yqQKtox6wHyp/y7RWCQ7uheimwWtxnZ7dGsJzjkWCCMbQzzpvR/yeaHLSz9TX+y/U1yK25vxHrGWffz/+wSy7WR0P7we5wAAAABJRU5ErkJggg=="/></g></g></svg><span>/fefrancooficial</span>
	section.persona__top__persona-info
		.container
			ul.persona__top__persona-info__list
				li.persona__top__persona-info__list__item.idade
					span.persona__top__persona-info__list__item__type Idade
					span.persona__top__persona-info__list__item__value 
				li.persona__top__persona-info__list__item.peso
					span.persona__top__persona-info__list__item__type Peso
					span.persona__top__persona-info__list__item__value 
				li.persona__top__persona-info__list__item.altura
					span.persona__top__persona-info__list__item__type Altura
					span.persona__top__persona-info__list__item__value 
	section.empty-search__top__container
		.container
			h2.ajuda__content__title 
			.shelf.shelf__carousel--full
				.prateleira
					ul
						//- each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
						//- 	li
						//- 		include ../shelves/prateleira
	.modal__item
		.modal__item__opacity
		.modal__item__content
			.modal__item__content__top
				.modal__item__close x
				.persona__top__fig
					img(src="/arquivos/felipe-interna.png", alt="")/
				.footer.persona__top__info
					h3.persona__top__info__name <span> <b></b></span>
			.modal__item__middle
				h3.modal__item__middle__tlt Biografia
				ul.modal__item__middle__list
					//- li.modal__item__middle__list__item Treinador