extends ../layouts/default.pug

block vars
	- var pageTitle = 'Time'
	- var bodyClass = 'team-midway'

block content
	.container
		section.team__content
			h2.team__content__title #TEAM<b>MIDWAY</b>
			ul.team__content__list
				//- li.team__content__list__item
				//- 	a.team__content__list__item__link(href="/persona.html")
				//- 		img.team__content__list__item__fig(src="/arquivos/team-felipe-franco.png", alt="")
				//- 		h3.team__content__list__item__tlt Felipe Franco
				//- 		span.team__content__list__item__speccialist IFBB Body Builder