.grid-template--first
		img(src="/arquivos/desde-banner.png", alt="")/
		article.about__content.about__content--bg-gray
			h2.about__title.about__title--allpd A Midway Labs
			p.about__generic-txt.about__generic-txt--allpd
				| chegou ao mercado em 1991 fundada pelo visionário <strong>Wilton Colle</strong> com o propósito de aliar tecnologia e ciência na indústria de suplementos dietéticos. Nesses <strong>25 anos de história</strong> a marca com presença internacional  e com todos os produtos fabricados nos Estados Unidos da América com supervisão de uma equipe de cientistas profissionais, médicos e nutricionista hoje é uma das maiores marcas de suplementos do mundo
	.about__gmp.about__gmp--absolute
		img(src="/arquivos/gmp-banner-n.png", alt="")/
		p.about__generic-txt.about__generic-txt--only-txt
			| Todos os produtos da <strong>Midway Labs</strong> são fabricados em instalações <strong>GMP (Boas Práticas de Fabricação)</strong> e registrados pela FDA. O resultado disso é o reconhecimento como uma das principais marcas de suplementos tecnológicos dietéticos em todo o mundo aliando na construção da melhor versão de si mesmo de forma eficiente e sem perder a qualidade no sabor.
	section.about__linhas
		h2.about__title-line Linhas Midway Labs
		.grid-template
			img.img(src="/arquivos/nbuild-yourself.png", alt="")/
			article.about__content
				h2.about__title.about__title--red Build Yourself
				p.about__generic-txt
					| Uma nova geração de suplementos alimentares premium produzidos nos Estados Unidos melhores matérias-primas do mercado internacional, resultando uma linha de produtos inovadores e de alta tecnologia para auxiliar você a alcançar a melhor versão de você mesmo
		.grid-template.grid-template--reverse
			article.about__content
				h2.about__title.about__title--gold Military Trail
				p.about__generic-txt
					| Uma linha com suplementos para quem busca estar em sua melhor forma e preparado para todos os desafios do dia a dia. Inspirada nos heróis da vida real, traz a concentração máxima dos melhores ingredientes para potencializar o seu treino e multiplicar a sua força.
			img.img(src="/arquivos/nmilitary-banner.png", alt="")/
		.grid-template
			img.img(src="/arquivos/nglamour-banner.png", alt="")/
			article.about__content
				h2.about__title.about__title--purple Glamour Nutrition
				p.about__generic-txt
					| Criada para proporcionar beleza, amor e confiança de dentro para fora, essa linha é voltada às mulheres que acreditam que um visual radiante é reflexo de sua beleza natural. São produtos produzidos a partir dos melhores ingredientes e da mais alta tecnologia para oferecer todo o cuidado que o seu corpo merece.
		.grid-template.grid-template--reverse
			article.about__content
				h2.about__title.about__title--grape Diet Way
				p.about__generic-txt
					| Há mais de 20 anos trazendo muito mais sabor e nutrientes para a sua dieta, Diet Way já tornou-se sinônimo de confiança e qualidade. São shakes e sopas redutores de peso que substituem até duas refeições por dia e já são recordistas em vendas no Brasil.
			img.img(src="/arquivos/ndiet-banner.png", alt="")/
