.comprecategoria__box
  .container
    ul.comprecategoria__box__list
      li.comprecategoria__box__list__item
        +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriabottom-one" />')
          .box-banner
            a(href="")
              img(src="/arquivos/mini-banner-bottom1.png")/
      li.comprecategoria__box__list__item
        +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriabottom-two" />')
          .box-banner
            a(href="")
              img(src="/arquivos/mini-banner-bottom2.png")/
      li.comprecategoria__box__list__item
        +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriabottom-three" />')
          .box-banner
            a(href="")
              img(src="/arquivos/mini-banner-bottom3.png")/