footer.footer
	.footer__area.footer__main
		.container
			.footer__main__inner.columns
				.footer__main__box.column.is-3
					h3.footer__main__title Institucional
						i.icon-arrow-right
							include ../../svg/arrow-midway.svg
					.footer__main__menu
						ul.footer__main__menu__list
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/institucional/quem-somos") Quem Somos
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/account/orders") Meus Pedidos
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/fale-conosco") Fale Conosco
				.footer__main__box.column.is-3
					h3.footer__main__title Precisa de Ajuda?
						i.icon-arrow-right
							include ../../svg/arrow-midway.svg
					.footer__main__menu
						ul.footer__main__menu__list
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/institucional/duvidas-frequentes") Dúvidas Frequentes
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/institucional/trocas-e-devolucoes") Trocas e Devoluções
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/institucional/politica-de-privacidade") Política de Privacidade
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="/institucional/politica-de-entrega") Política de Entrega
				.footer__main__box.column.is-3
					h3.footer__main__title Atendimento
						i.icon-arrow-right
							include ../../svg/arrow-midway.svg
					.footer__main__menu
						ul.footer__main__menu__list
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="callto:(62)3090-0600", target="_blank") Sac: (62) 3090-0600
							li.footer__main__menu__list__item
								a.footer__main__menu__list__item__link(href="mailto:sac@midwaylabs.com.br", target="_blank") sac@midwaylabs.com.br
							li.footer__main__menu__list__item
								span.footer__main__menu__list__item__link Segunda á sábado das 07h ás 23h
				.footer__main__box.column.is-3.is-red
					.footer__main__menu.is-flex
						.footer__main__menu--container
							h3.footer__main__title.no-border Redes Sociais
							ul.footer__main__menu__list--social__list.is-untoggleble.is-flex
								li.footer__main__menu__list--social__list__item
									a.footer__main__menu__list--social__list__item__link.social--facebook(href="https://www.facebook.com/MidwayLabs/", target="_blank", rel="nofollow")
										include ../../svg/w-facebook.svg
								li.footer__main__menu__list--social__list__item
									a.footer__main__menu__list--social__list__item__link.social--instagram(href="", target="_blank", rel="nofollow")
										include ../../svg/w-instagram.svg
								li.footer__main__menu__list--social__list__item
									a.footer__main__menu__list--social__list__item__link.social--twitter(href="", target="_blank", rel="nofollow")
										include ../../svg/w-twitter.svg
								li.footer__main__menu__list--social__list__item
									a.footer__main__menu__list--social__list__item__link.social--youtube(href="", target="_blank", rel="nofollow")
										include ../../svg/w-youtube.svg
						.footer__facebook
							.fb-page(data-href='https://www.facebook.com/MidwayLabs/', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
								blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/MidwayLabs/')
									a(href='https://www.facebook.com/MidwayLabs/') Midway Labs USA

	.footer__area.footer__middle.collumns
		.container.is-flex
			.footer__area.footer__middle__box
				h3.footer__area.footer__middle__box__tlt Formas de Pagamento
				img.footer__area.footer__middle__box__fig(src="/arquivos/form-pgto-icos.png")/
			.footer__area.footer__middle__box
				h3.footer__area.footer__middle__box__tlt Certificados
				.footer__area__middle__box__icontainer
					img.footer__area.footer__middle__box__ico(src="/arquivos/ebit-logo.png")/
					img.footer__area.footer__middle__box__ico(src="/arquivos/google-site-safe.png")/
					img.footer__area.footer__middle__box__ico(src="/arquivos/yourviews-logo.png")/
	.footer__area.footer__bottom
		.container
			article.footer__bottom__txt O Ministério da Saúde adverte: não existem evidências científicas comprovadas de que estes alimentos previnam, tratem ou curem doenças.<br />Midway Labs USA © 2016 • Todos os direitos reservados • Termos e condições • Política de privacidade • Press center
