include ../helpers


header.header
    .header__area.header__main
        .containe.is-flex
            .header__menu-icon
                .header__menu-icon__middle
            .header__area__logo__link
                include ../../svg/logo-midway.svg    
            .header__area.header__menu
                include ../components/menu.pug
            .header__search-form
                form.search-form#header-form(action="/busca")
                    .field.has-addons
                        .control
                            input.input(type='text', placeholder='Buscar produto')/
                            a.icon-search
                                include ../../svg/icon-search.svg
                            a.cancel-ico
                                include ../../svg/cancel-ico.svg
                .search-form__result-list
            .header__account-info
                i.icon-search
                    include ../../svg/icon-search.svg                      
                .header__account-info__account-box
                    span.header__account-info__account-box__wrap-items
                        include ../../svg/user-ico.svg 
                    span.header__account-info__account-box__wrap-items__txt 
                        | Minha
                        strong.header__account-info__account-box__wrap-items__txt__bold Conta
                    ul.header__account-info__account-box__list
                        li.header__account-info__account-box__list__item
                            a.header__account-info__account-box__list__item__link(href="/account.html") Meu perfil
                        li.header__account-info__account-box__list__item
                            a.header__account-info__account-box__list__item__link(href="/login.html") Criar uma conta
                        li.header__account-info__account-box__list__item
                            a.header__account-info__account-box__list__item__link(href="/orders.html") Meus pedidos
                .header__minicart.js-minicart   
