body.empty-search {
	.empty-search__top {
		margin-bottom: 76px;

		&__title {
			width: 100%;
			display: block;
			font-size: 33px;
			color: #f22100;
			font-weight: 700;
			padding: 75px 0 0;
			text-align: center;
			font-style: italic;
			font-family: Eurostile;
			letter-spacing: 0.82px;
			text-transform: uppercase;
		}

		&__smallmsg {
			width: 100%;
			display: block;
			text-align: center;
		}

		&__container {
			padding: 25px 40px;
			background: url(/arquivos/bg-top.png) no-repeat scroll 0 0 transparent;
		}
	}

	h2.ajuda__content__title {
		padding: 20px 0 40px;
	}
}