.home {
  .section {
    &__page {
      overflow: hidden;

      &__title {
        width: 100%;
        height: 34px;
        color: #000;
        @include font-size(20px);
        font-weight: 700;
        font-style: italic;
        text-align: center;
        font-family: $f-base;
        letter-spacing: 0.82px;
        text-transform: uppercase;
        margin: 10px 0;
        @include atMedium {
          padding: 40px 0 70px;
          @include font-size(33px);
        }

        &:after,
        &:before {
          content: "";
          width: 3%;
          height: 2px;
          margin: 0 1%;
          display: inline-block;
          vertical-align: middle;
          background-color: #ff0000;
        }
      }
    }

    &__newsletter {
      padding: 20px 0;
      overflow: hidden;
      position: relative;
      text-align: center;
      background: #f2f2f2;

      @include atMedium {
        text-align: left;
        background: transparent;
      }
      .is-flex {
        justify-content: center;
      }
      .column {
        padding: 0;
      }

      &__tlt {
        color: #222;
        font-weight: 700;
        font-size: 40px;
        font-style: italic;
        font-family: $f-base;
        letter-spacing: 0.36px;
        text-transform: uppercase;
        @include atMedium {
          font-size: 47px;
        }
      }

      &__smallph {
        font-size: 11px;
        font-weight: 400;
        font-style: italic;
        font-family: $f-secondary;
        text-transform: uppercase;
        display: flex;
        padding: 0 20px;
        text-align: left;
        @include atMedium {
          font-size: 15px;
          padding: 0;
        }

        &:before {
          content: "";
          width: 10px;
          height: 30px;
          background: #ff0000;
        //   transform: skew(-15deg);
          display: block;
          margin-top: 2px;
          margin-right: 8px;
          @include atMedium {
            height: 37px;
            margin-top: 5px;
            margin-right: 10px;
          }
        }
      }

      .default__form {
          margin: 10px auto;
        @include atMedium {
          margin: 35px auto;
        }
      }
    }

    &__why {
      .box-banner {
        display: inline-block;
      }
    }

    &__more-banners {
      .box-banner {
        float: left;

        a {
          display: flex;
        }
      }
    }
  }
}
