div#vtexIdUI-global-loader {
    opacity: 1 !important;
    background: none !important;
    background-color: #000 !important;
}

body.login {
    display: none;
    
    .vtexIdUI .modal-body,
    .vtexIdUI .modal-header,
    .vtexIdUI.ng-scope.vtexIdUI-show-app {
        background-color: #000 !important;
    }
}
