nav.navbar
                    ul.navbar__list
                        li.navbar__list__item
                            a.navbar__list__item__link Produtos
                            div.navbar__list__item__dropdown
                                .container
                                    ul.navbar__list__item__dropdown-content--grid
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Albumina
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Aminoácidos
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Arginina
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Carnitina
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Colágeno
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Creatina
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Emagrecimento
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Fibras
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Glutamina
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Hipercalórico
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Maltodextrina
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Multivitamínico
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Pré-treino
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Proteína
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Substituto Alimentar
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Cabelo e unhas
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Combo
                                        li.navbar__list__item__dropdown__item
                                            a.navbar__list__item__dropdown__item__link(href="/category.html") Kit
                                    +vtex-controller('<vtex.cmc:menu-prod-banner />')
                                        a.navbar__list__item__dropdown__item--banner-prod
                                            img(src="https://placehold.it/392x202?text=shake")/
                        li.navbar__list__item
                            a.navbar__list__item__link Linhas
                            .navbar__list__item__dropdown
                                .navbar__list__item__dropdown-content
                                    .container
                                        +vtex-controller('<vtex.cmc:menu-linha-banner />')
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                        li.navbar__list__item
                            a.navbar__list__item__link Objetivos
                            .navbar__list__item__dropdown
                                .navbar__list__item__dropdown-content
                                    .container
                                        +vtex-controller('<vtex.cmc:menu-objetivos-banner />')
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                                            a.navbar__list__item__dropdown__item--banner-prod(href="/category.html")
                                                img(src="https://placehold.it/263x200?text=shake")/
                        li.navbar__list__item
                            a.navbar__list__item__link Outlet