.header {
  background: linear-gradient(
    to left,
    #f11e08 50%,
    #f11e08 50%,
    #f9f9f9 50%,
    #f9f9f9 50%
  ) !important;

  .hover {
    height: 500px;
    background-color: #fff;
  }

  &__area__logo__link {
    background: #f9f9f9;
    transform: skew(-25deg);
    svg {
      padding: 0 20px;
      transform: skew(25deg);
    }
  }

  &__account-info {
    display: flex;
    transform: skew(-25deg);
    background: #f11e08;
    align-items: center;
    flex-basis: 12%;
    justify-content: space-around;

    &__account-box {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;

      &__list {
        z-index: 1;
        display: none;
        padding: 0 0 0 20px;
        background-color: #fff;
        transform: skew(0deg);

        &__item {
          border-bottom: 1px solid #ccc;

          &__link {
            color: #666;
            display: block;
          }

          &:hover {
            .header__account-info__account-box__list__item__link {
              color: #fff;
              background: #f11e08;
            }
          }

          &:last-child {
            margin: 0;
            padding: 0;
            border: none;
          }
        }
      }

      &:hover {
        background-color: #fff;
        cursor: pointer;

        .header__account-info__account-box__wrap-items__txt {
          color: #f11e08;
          strong {
            color: #f11e08;
          }
        }

        .header__account-info__account-box__wrap-items__ico {
          use {
            fill: #f11e08;
            stroke: #f11e08;
          }
        }

        .header__account-info__account-box__list {
          display: none;
          position: absolute;
        }
      }

      &__wrap-items {
        display: flex;
        flex-wrap: nowrap;
        transform: skew(25deg);
        padding: 0 10px;

        &__txt {
          color: #fff;
          font-size: 14px;
          line-height: 13px;
          display: inline-block;
          text-transform: uppercase;

          &__bold {
            color: #fff;
            display: block;
          }
        }
      }
    }
  }

  &__minicart {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    > div {
      transform: skew(25deg);
      padding: 0 10px;
    }
    &:hover {
      background: #fff;
      cursor: pointer;
      svg {
        use {
          fill: #f11e08;
        }
      }
    }
  }
  &__menu {
    flex: 2;
    display: flex;
    align-items: center;
    transform: skew(-25deg);
    background: #f11e08;
    justify-content: center;
  }

  .button.icon-search {
    background: white;
    border: 0;
  }
  &__account-info__account-box__wrap-items__ico {
    margin-right: 3px;
  }
}
