header {
	.navbar {
		height: 100%;
		background: none;
		flex: 1;
		display: flex;
		flex-direction: column;
		font-family: $f-base;
        background:rgba(241, 33, 33, 0.74);
        @include atLarge {
            &::before {
                content: '';
                width: 25px;
                height: 72px;
                display: block;
                background-color: $c-red;
                transform: skew(-15deg);
            }
        }
		@include atMedium {
			&::before {
				display: none;
			}
			align-items: center;
			flex-basis: 80%;
			flex-direction: row;
			position: initial;
			background: initial;
			.item-voltar {
				display: none;
			}
		}
		&__list {
			width: 100%;
			height: auto;
			display: block;
			overflow-y: auto;
			@include atMedium {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;
				flex-direction: row;
				height: 100%;
				overflow: visible;
			}
			.item-conta,
			.item-entrar {
				border: 0;
				@include atMedium {
					display: none;
				}
			}
			.item-entrar{
				padding-top: 20px;
			}
			i {
				display: block;
				svg {
					use {
						stroke: white;
					}
				}
				@include atMedium {
					display: none;
				}
			}

			&__item {
				height: 100%;
				width: 100%;
				flex: 1;
				border-bottom: 1px solid #2f020224;
				display: block;
				&.hide {
					display: none;
				}

				@include atMedium {
					&.hide {
						display: flex;
					}
					align-items: center;
					display: flex;
					justify-content: center;
					border-bottom: 0;
					&:hover {
						.navbar__list__item__link span {
							color: $c-gray-dark;
							background: $c-white;
							// border: 1px solid $c-white;
                            cursor: pointer;
                            display: block;
						}
					}
				}
				a {
                    text-decoration: none;
                    padding: 0 15px;
				}
				&__voltar {
					@extend .navbar__list__item__link;
					display: block;
					padding-left: 50px !important;
					font-weight: 600;
					font-style: italic;
				}
				&__entrar {
					@extend .navbar__list__item__link;
					background: #c61b08 !important;
					font-weight: 700 !important;
				}
				&__conta {
					@extend .navbar__list__item__link;
					background: #c61b08 !important;
					font-weight: 700 !important;
				}

				&__link {
					text-transform: uppercase;
					color: #fff;
					display: block;
					line-height: 72px;
					@include font-size(13px);
					letter-spacing: 0.35px;
					text-align: left;
					position: relative;
					
					font-family: $f-secondary;
					padding-left: 10px;
					height: 48px;
					display: flex;
					align-items: center;
					display: flex;
					justify-content: space-between;
					i {
						margin-right: 10px;
						transform: rotate(270deg);
					}
					@include atMedium {
                        width: 100%;
						background: $c-red;
						display: block;
						padding-left: 0;
						text-align: center;
						font-family: $f-base;
						text-transform: uppercase;
						font-weight: 700;
						transform: skew(-15deg);
						height: 100%;
					}
				}

				&__dropdown {
					display: none;
					&.is-visible {
						display: block;
					}
					@include atMedium {
						&.is-visible {
							display: none;
						}
						right: 0;
						left: 0;
						width: 100%;
						display: none;
						position: absolute;
						background-color: #fff;
						z-index: 9999;
						top: 100%;
						.container {
							display: flex;
							height: 252px;
							justify-content: space-between;
							align-items: center;
							z-index: 1;
						}
					}
					&__item {
						border: 1px solid #af2525;
						flex-basis: 17%;
						padding: 10px;
						display: flex;
						@include atMedium {
							border: 0;
							padding: 0;
							display: list-item;
						}
						&__link {
							color: $c-white;
							font-family: $f-secondary;
							font-size: 13px;
							font-weight: 300;
							line-height: 12.01px;
							letter-spacing: 0.65px;
							width: 100%;
							padding: 20px;
							@include atMedium {
								color: #939393;
								width: auto;
								padding: 0;
							}
							&:hover {
								color: $c-gray-dark;
							}
						}
						&--banner-prod {
							display: none;
							@include atMedium {
								display: block;
								img {
									align-self: center;
									flex: 0 0 auto;
                                }
                                
                                .box-banner {
                                    display: none;
                                }
							}
						}
					}
				}
				&__dropdown-content {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					flex: 2;
					&--grid {
						@include atMedium {
							display: grid;
							grid-template-columns: 1fr 1fr 1fr 1fr;
							grid-template-rows: repeat(5, 1fr);
							flex: 2 1;
							height: 80%;
							align-items: center;
							grid-auto-flow: column;
						}
					}
				}
				&:hover {
					.navbar__list__item__dropdown {
						@include atMedium {
							display: block;
						}
					}
				}
			}
		}
	}
}
