.section {
  &__page {
    position: relative;
  }


  &__title {
    @extend %title--section;
  }


  &__shelf {
	margin: 20px 0;

	.section__title {
		width: 600px;
    	margin: 0 auto;
	}
  }

  &__brand {
    background-color: $c-gray-light;
    padding: 70px 0;
  }

  &__filter {
    background-color: #fafafa;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
  &-newsletter {
    &--color-gray {
      display: none;
      @include atMedium {
        display: block;
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: #f2f2f2;
        transform: skew(-15deg);
        z-index: -4;
        top: 0;
        &::before {
          content: "";
          width: 10%;
          position: relative;
          left: 0;
          background: #f2f2f2;
          display: block;
          height: 100%;
          transform: skew(15deg);
        }
      }
    }
    &--color-red {
      display: none;
      @include atMedium {
        display: block;
        width: 50%;
        height: 100%;
        right: 0;
        background-color: #e52000;
        z-index: -4;
        transform: skew(-15deg);
        position: absolute;
        top: 0;
        &::after {
          content: "";
          width: 10%;
          position: relative;
          right: -90%;
          background: #e52000;
          display: block;
          height: 100%;
          transform: skew(15deg);
        }
      }
    }
  }

  &--product-bottom {
	  padding: 0;
  }
}
